doctype html
html
  head
    title Rentar Vehiculos
    link(rel='stylesheet', href='/path/to/your/style.css')
  
  body
    table
      thead
          tr
              th Placa
              th Marca
              th Tipo
              th Disponibilidad
              th Precio de Renta
              th Acciones
      tbody
          each vehiculo in vehiculos
              tr
                  td= vehiculo.placa
                  td= vehiculo.marca
                  td= vehiculo.tipo
                  td= vehiculo.disponibilidad
                  td= vehiculo.precio_Renta

    //agregar acción y método
    form(action='rentar', method='POST') 
      h2 Rentar Vehiculos
      
      input(type="text" placeholder="Cedula" name="cedula" required)
      br
      
      input(type="text" placeholder="Placa" name="placa" required)
      br
      
      input(type="number" placeholder="Cantidad Dias" name="cantidad_Dias" required)
      br
      
      input(type="number" placeholder="Precio" name="precio" required)
      br
      button(type="submit" id="btnRentar") Rentar
      

    form(action="devolucion", method='POST')
      h2 Devolución Vehiculos 

      input(type="text" placeholder="Placa" name="placa" required)
      br
      button(type="submit" id="btnDevolucion") Devolución
    
    label(id="lblResultado") #{mensaje}
    button(type='button', onclick='location.href="/manteCarros"') Mante
    button(type='button', onclick='location.href="/modificar"') Editar

    
    
