doctype html
html(lang="en")
  head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Mantenimiento Vehiculos
  body 
    h2 Mantenimiento Vehiculos
    table
      thead
        tr
          th Placa
          th Marca
          th Tipo
          th Disponibilidad
          th Precio de Renta
          th Acciones
      tbody
        each vehiculo in vehiculos
          // Utilizamos la placa del vehículo como identificador
          tr(id=`${vehiculo.placa}-row`) 
            td= vehiculo.placa
            td= vehiculo.marca
            td= vehiculo.tipo
            td= vehiculo.disponibilidad
            td= vehiculo.precio_Renta
            td
              a(href=`/vehiculos/editar/${vehiculo._id}`) Modificar o Eliminar
              form(action=`/eliminar/${vehiculo.id}`, method='POST',)
                button.btn.btn-danger(type='button', onclick=`eliminarVehiculo('${vehiculo.id}')`) Eliminar



    form(action='/agregar', method="POST")
      label(for="placa") Placa:
      input(type="text" name="placa" required)

      label(for="marca") Marca:
      input(type="text" name="marca" required)

      label(for="tipo") Tipo:
      input(type="text" name="tipo" required)

      label(for="disponibilidad") Disponibilidad:
      input(type="text" name="disponibilidad" required)

      label(for="precio_Renta") Precio de renta:
      input(type="number" name="precio_Renta" required)
      br
      br
      button(type="submit" id="btnAgregar") Agregar  
    label(id="lblResultado") #{mensaje}


