doctype html
html(lang="en")
  head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Mantenimiento Vehiculos
      link(rel='stylesheet', href='./estilo-1.css')
      link(rel='stylesheet', href='./estilo-2.css')
      link(rel='stylesheet', href='./estilo-3.css')
      
  body 
    div.header
      h2 Mantenimiento de Vehiculos
    
    // Barra de navegacion
    div.navbar
      nav
        a(href='/') Renta y Devolución de Vehiculos
        a(href='modificar') Modificar Vehiculos
        a(href='modificar') Eliminar Vehiculos
    
    div.row 
      h3 Vehiculos 
      div.main 
        table
          thead
            tr
              th Placa
              th Marca
              th Tipo
              th Disponibilidad
              th Precio de Renta por Día
          tbody
            each vehiculo in vehiculos
              // Utilizamos la placa del vehículo como identificador
              tr(id=`${vehiculo.placa}-row`) 
                td= vehiculo.placa
                td= vehiculo.marca
                td= vehiculo.tipo
                td= vehiculo.disponibilidad
                td= vehiculo.precio_Renta

    form(action='/agregar', method="POST")
      input.rounded(type="text" placeholder="Placa" name="placa" required)

      input.rounded(type="text" placeholder="Marca" name="marca" required)

      input.rounded(type="text" placeholder="Tipo" name="tipo" required)

      input.rounded(type="text" placeholder="Disponibilidad" name="disponibilidad" required)

      input.rounded(type="number" placeholder="Precio de renta" name="precio_Renta" required)

      button.button(type="submit" id="btnAgregar") Agregar  
    label(id="lblResultado") #{mensaje}


